:root {
    --calculator-color: rgb(197, 194, 194);
    --screen-border-color: rgb(119, 116, 116);
    --screen-color: rgb(139, 172, 15);
    --text-color: rgb(21, 62, 146);
    --button-color: rgb(131, 74, 74);
    --background-color: rgb(196, 164, 132);
}

body {
    font-family: 'Gameboy', sans-serif;
    background-color: var(--background-color);
}
